* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
}

#myVideo {
    margin-left: 10%;
    margin-top: 10%;
    width: 35%;
    height: 25%;
    transition: .2s linear;
}
#myVideo:hover {
    transform: scale(1.5);
}

.content {
    text-align: center;
    top: 0;
    background: rgba(131, 111, 60, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: white;
    color: black;
    cursor: pointer;
}

#myBtn:hover {
    background: rgb(127, 124, 124);
    color: white;
}